body {
  font-family: Arial;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.formulario {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  width: 300px;
}

label {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  color: gray;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #185FA5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}